.doctor-card--container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0 0;
}

.doctor-card--img {
    height: 309px;
    width: 310px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.doctor-card--name {
    margin-bottom: 10px;
}

.doctor-card--spec {
    color: #757575;
    font-size: 24px;
    letter-spacing: 0.25px;
    line-height: 36px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .doctor-card--container {
        width: 368px;
        padding: 0;
    }

    .doctor-card--img {
        margin-bottom: 60px;
    }
}