.doctor-section--main-text {
    width: 100%;
    margin-bottom: 30px;
}

.doctor-section--card-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

@media only screen and (min-width: 768px) {
    .doctor-section--main-text {
        width: 44%;
        margin-bottom: 114px;
    }
}

@media only screen and (min-width: 992px) {
    .doctor-section--card-container {
        justify-content: space-between;
        flex-flow: nowrap;
    }
}