.bullet--container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

.bullet--icon {
    width: 80px;
    margin-bottom: 20px;
}

.bullet--description {
    color: #555;
    font-size: 25px;
    letter-spacing: 0.25px;
    line-height: 38px;
}

@media only screen and (min-width: 992px) {
    .bullet--container {
        width: calc(409px - 40px);
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin: 0 20px;
    }
}