* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #root {
    background-color: #FAFAFA;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  section {
    margin: 0 20px;
    display: flex;
    flex-flow: column;
    padding: 85px 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'DM Sans', sans-serif;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
    letter-spacing: 0.2px;
  }
  
  p {
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #555;
  } 
  
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 50px;
    }
  
    h3 {
      font-size: 40px;
      letter-spacing: 0.2px;
    }
  
    h4 {
      color: #1E1E1E;
      font-size: 24px;
      letter-spacing: 0.25px;
      line-height: 31px;
    }
  
    h5 {
      color: #1E1E1E;
      font-size: 32px;
      letter-spacing: 0.2px;
      line-height: 35px;
      text-align: center;
    }
  
    p {
      font-size: 25px;
      line-height: 38px;
      letter-spacing: 0.25px;
      color: #555;
    }
  }
  
  @media only screen and (min-width: 992px) {
    section {
      width: calc(1440px - 150px);
      margin: 0 75px;
      padding: 140px 0;
    }
  
    h1 {
      font-size: 70px;
      font-family: 'DM Sans', sans-serif;
    }
    
    h3 {
      font-size: 50px;
      line-height: 56px;
      letter-spacing: 0.2px;
    }
  }

  /* h1 {
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
  }
  
  h3 {
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0.2px;
    font-family: 'DM Sans', sans-serif;
  }
   
  p {
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.25px;
    color: #555;
  } */