.menu-item--container{
    padding:50px;
    border-left: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.menu-item--container:last-of-type{
    border-bottom: 1px solid #D3D3D3;
}

.menu-item--text.active{
    padding:20px;
    border-left: 3px solid #1C94EB;
    color: #1E1E1E;
    text-decoration: none !important;
}

.description {
    -webkit-column-count: 3; /* Old Chrome, Safari and Opera */
    -moz-column-count: 3; /* Old Firefox */
    column-count: 3;
    color: #A9A9A9;
}

.tags-wrapper--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}  

.tags-wrapper--element {
    padding:30px;
    font-size: 24px;
    font-weight: lighter;
    color: #A9A9A9;
}