.row {
    display: flex;
}

.column-left{
    display: none;
}

.column-right {
    width: 100%;
}

.column-right .section-name--container {
    margin: 0 0 35px 20px;
}

.left-question {    
    padding-bottom: 40px;
    font-size: 28px;
}

/* Card designed */

.faq-card {    
    margin-top: 20px;
    transition: 0.3s;
    align-items: center;
    text-align: center;
    width: 268px;
    padding: 30px 0;
    background-color: #FFF;
    box-shadow: 0 2px 56px 0 rgba(30,30,30,0.05)
}

.faq-quora-img {
    width: 107px;
    margin-bottom: 30px;
}

.faq-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.faq-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2px 16px;
}

.ask-card {    
    color: #828282;
    font-family: 'Assistant';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.37px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-body {
    color: #1C1D1C;
    font-family: "Assistant";
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 30px;
    padding: 40px;
}

.faq-quora-button {
    width: 145px;
    height: 45px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 4px 18px 0 rgba(99,109,117,0.22);
}

.faq-quora-text {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #1C1D1C;
    font-family: "Assistant";
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 20px
}

.faq-quora-icon {
    height: 100%;
    width: 46px;
    border-radius: 4px;
}

/* accordion */

.accordion {
    border: none !important;
}

.accordion .accordion-item {
    border-top: 1px solid #ddd;
}

.accordion .accordion-item .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #1E1E1E;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.19px;
    line-height: 23px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
}

.accordion .accordion-item.active .title {
    background: #eee !important;
}

.accordion .accordion-item .title:after {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_down';
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #757575;
    color: #757575;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    float: none;
    box-sizing: border-box;
    margin: 0;
}

.accordion .accordion-item.active .title:after {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_up' !important;
}

.accordion .accordion-item .panel {
    height: 0;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    overflow: hidden;
    padding: '24px';
}

.accordion .accordion-item.active .panel {
    height: 100%;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    padding: '24px';
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .main-section {
        margin: 40px 0 0;
    }

    .row {
        margin: 0 80px;
    }

    .column-left {
        display: block;
        width: 303px;
        margin-right: 139px;
    }

    .column-right .section-name--container {
        display: none;
        margin: 0 0 35px 20px;
    }

    .accordion .accordion-item .title {
        padding: 30px 40px;
        font-size: 24px;
        letter-spacing: 0.25px;
        line-height: 31px;
    }

    .accordion .accordion-item .title:after {
        width: 32px;
        height: 32px;
        font-size: 22px;
    }
}
